<a href="https://colab.research.google.com/github/gamountainmama/data_dames/blob/main/combine_csvs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [65]:
# Import our dependencies
import pandas as pd

#  Import and read the CSV files.
ela21 = pd.read_csv("https://gamountainmama.github.io/data_dames/ELA21.csv")
ela22 = pd.read_csv("https://gamountainmama.github.io/data_dames/ELA22.csv")
math21 = pd.read_csv("https://gamountainmama.github.io/data_dames/MATH21.csv")
math22 = pd.read_csv("https://gamountainmama.github.io/data_dames/MATH22.csv")
sci22 = pd.read_csv("https://gamountainmama.github.io/data_dames/SCIE22.csv")
soc22 = pd.read_csv("https://gamountainmama.github.io/data_dames/SOCI22.csv")

ela21.head()

,ELA 20-21 Level,ELA 20-21 Pass,DaysAbsent,ELL,EconomicallyDisadvantaged,Ethnicity,GTID,Gender,Gifted,Grade,LastLexileScore,SST,SWD,ELA 20-21 Scale Score
0,Developing Learner,1,2,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",1036316432,FEMALE,N,8,1155,Y,N,494
1,Beginning Learner,0,40,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",1068291966,MALE,N,8,885,N,N,443
2,Developing Learner,1,6,N,N,"WHITE, NOT OF HISPANIC ORIGIN",1068489243,MALE,N,8,1380,N,N,515
3,Developing Learner,1,19,N,N,"WHITE, NOT OF HISPANIC ORIGIN",1139547526,MALE,N,8,930,Y,N,485
4,Developing Learner,1,15,N,N,"WHITE, NOT OF HISPANIC ORIGIN",1247971546,MALE,N,8,1015,Y,N,513

In [66]:
df = ela21.merge(ela22, how = 'left', on = ['GTID', 'DaysAbsent', 'ELL', 'EconomicallyDisadvantaged', 'Ethnicity', 'GTID', 'Gender', 'Gifted', 'Grade', 'LastLexileScore', 'SST', 'SWD'])
df = df.merge(math21, how = 'left', on = ['GTID', 'DaysAbsent', 'ELL', 'EconomicallyDisadvantaged', 'Ethnicity', 'GTID', 'Gender', 'Gifted', 'Grade', 'LastLexileScore', 'SST', 'SWD'])
df = df.merge(math22, how = 'left', on = ['GTID', 'DaysAbsent', 'ELL', 'EconomicallyDisadvantaged', 'Ethnicity', 'GTID', 'Gender', 'Gifted', 'Grade', 'LastLexileScore', 'SST', 'SWD'])
df = df.merge(sci22, how = 'left', on = ['GTID', 'DaysAbsent', 'ELL', 'EconomicallyDisadvantaged', 'Ethnicity', 'GTID', 'Gender', 'Gifted', 'Grade', 'LastLexileScore', 'SST', 'SWD'])
df = df.merge(soc22, how = 'left', on = ['GTID', 'DaysAbsent', 'ELL', 'EconomicallyDisadvantaged', 'Ethnicity', 'GTID', 'Gender', 'Gifted', 'Grade', 'LastLexileScore', 'SST', 'SWD'])
df.head()

,ELA 20-21 Level,ELA 20-21 Pass,DaysAbsent,ELL,EconomicallyDisadvantaged,Ethnicity,GTID,Gender,Gifted,Grade,...,MATH 20-21 Scale Score,MATH 21-22 Level,MATH 21-22 Pass,MATH 21-22 Scale Score,SCIE 21-22 Level,SCIE 21-22 Pass,SCIE 21-22 Scale Score,SOCI 21-22 Level,SOCI 21-22 Pass,SOCI 21-22 Scale Score
0,Developing Learner,1,2,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",1036316432,FEMALE,N,8,...,492.0,Developing Learner,1,518,Beginning Learner,0.0,474.0,Developing Learner,1.0,478.0
1,Beginning Learner,0,40,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",1068291966,MALE,N,8,...,494.0,Developing Learner,1,500,Developing Learner,1.0,497.0,Developing Learner,1.0,487.0
2,Developing Learner,1,6,N,N,"WHITE, NOT OF HISPANIC ORIGIN",1068489243,MALE,N,8,...,547.0,Proficient Learner,1,548,NaN,NaN,NaN,NaN,NaN,NaN
3,Developing Learner,1,19,N,N,"WHITE, NOT OF HISPANIC ORIGIN",1139547526,MALE,N,8,...,479.0,Developing Learner,1,475,NaN,NaN,NaN,NaN,NaN,NaN
4,Developing Learner,1,15,N,N,"WHITE, NOT OF HISPANIC ORIGIN",1247971546,MALE,N,8,...,472.0,Developing Learner,1,515,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
# Drop rows that are missing data
df = df.dropna()
df.head()

,ELA 20-21 Level,ELA 20-21 Pass,DaysAbsent,ELL,EconomicallyDisadvantaged,Ethnicity,GTID,Gender,Gifted,Grade,...,MATH 20-21 Scale Score,MATH 21-22 Level,MATH 21-22 Pass,MATH 21-22 Scale Score,SCIE 21-22 Level,SCIE 21-22 Pass,SCIE 21-22 Scale Score,SOCI 21-22 Level,SOCI 21-22 Pass,SOCI 21-22 Scale Score
0,Developing Learner,1,2,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",1036316432,FEMALE,N,8,...,492.0,Developing Learner,1,518,Beginning Learner,0.0,474.0,Developing Learner,1.0,478.0
1,Beginning Learner,0,40,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",1068291966,MALE,N,8,...,494.0,Developing Learner,1,500,Developing Learner,1.0,497.0,Developing Learner,1.0,487.0
5,Developing Learner,1,28,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",1258969653,FEMALE,N,8,...,486.0,Developing Learner,1,488,Developing Learner,1.0,502.0,Developing Learner,1.0,478.0
6,Beginning Learner,0,1,N,N,"WHITE, NOT OF HISPANIC ORIGIN",1330688392,MALE,N,8,...,472.0,Beginning Learner,0,469,Beginning Learner,0.0,413.0,Beginning Learner,0.0,464.0
8,Proficient Learner,1,10,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",1370813653,FEMALE,N,8,...,494.0,Developing Learner,1,482,Developing Learner,1.0,475.0,Beginning Learner,0.0,473.0

In [68]:
# Drop 'GTID' and 'Grade'
df = df.drop(columns='GTID', axis=1)
df = df.drop(columns='Grade', axis=1)
df.head()

,ELA 20-21 Level,ELA 20-21 Pass,DaysAbsent,ELL,EconomicallyDisadvantaged,Ethnicity,Gender,Gifted,LastLexileScore,SST,...,MATH 20-21 Scale Score,MATH 21-22 Level,MATH 21-22 Pass,MATH 21-22 Scale Score,SCIE 21-22 Level,SCIE 21-22 Pass,SCIE 21-22 Scale Score,SOCI 21-22 Level,SOCI 21-22 Pass,SOCI 21-22 Scale Score
0,Developing Learner,1,2,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",FEMALE,N,1155,Y,...,492.0,Developing Learner,1,518,Beginning Learner,0.0,474.0,Developing Learner,1.0,478.0
1,Beginning Learner,0,40,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",MALE,N,885,N,...,494.0,Developing Learner,1,500,Developing Learner,1.0,497.0,Developing Learner,1.0,487.0
5,Developing Learner,1,28,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",FEMALE,N,1205,N,...,486.0,Developing Learner,1,488,Developing Learner,1.0,502.0,Developing Learner,1.0,478.0
6,Beginning Learner,0,1,N,N,"WHITE, NOT OF HISPANIC ORIGIN",MALE,N,955,N,...,472.0,Beginning Learner,0,469,Beginning Learner,0.0,413.0,Beginning Learner,0.0,464.0
8,Proficient Learner,1,10,N,Y,"WHITE, NOT OF HISPANIC ORIGIN",FEMALE,N,1305,N,...,494.0,Developing Learner,1,482,Developing Learner,1.0,475.0,Beginning Learner,0.0,473.0

In [69]:
# Determine the number of unique values in each column.
df.dtypes

ELA 20-21 Level               object
ELA 20-21 Pass                 int64
DaysAbsent                     int64
ELL                           object
EconomicallyDisadvantaged     object
Ethnicity                     object
Gender                        object
Gifted                        object
LastLexileScore                int64
SST                           object
SWD                           object
ELA 20-21 Scale Score          int64
ELA 21-22 Level               object
ELA 21-22 Pass                 int64
ELA 21-22 Scale Score          int64
MATH 20-21 Level              object
MATH 2021 Pass               float64
MATH 20-21 Scale Score       float64
MATH 21-22 Level              object
MATH 21-22 Pass                int64
MATH 21-22 Scale Score         int64
SCIE 21-22 Level              object
SCIE 21-22 Pass              float64
SCIE 21-22 Scale Score       float64
SOCI 21-22 Level              object
SOCI 21-22 Pass              float64
SOCI 21-22 Scale Score       float64
dtype: object

In [70]:
from google.colab import files
df.to_csv('combined_data.csv', encoding = 'utf-8-sig') 
files.download('combined_data.csv')