<a href="https://colab.research.google.com/github/gamountainmama/data_dames/blob/main/ed_data_working_model2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [40]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("https://gamountainmama.github.io/data_dames/MathScoreData.csv")
df.head()

,School Year,Course,Gender,Absences,SPED,Gifted,Scale Score,Achievement Level
0,2018,8th Grade Math,M,13.0,Y,N,421,0
1,2018,8th Grade Math,M,32.0,Y,N,459,0
2,2018,8th Grade Math,F,4.0,N,N,464,0
3,2018,8th Grade Math,F,30.0,Y,N,464,0
4,2018,8th Grade Math,F,2.0,Y,N,464,0

In [41]:
# Drop 'School Year', 'Course', and 'Scale Score'
df = df.drop(columns='School Year', axis=1)
df = df.drop(columns='Course', axis=1)
df = df.drop(columns='Scale Score', axis=1)
df.head()

  Gender  Absences SPED Gifted  Achievement Level
0      M      13.0    Y      N                  0
1      M      32.0    Y      N                  0
2      F       4.0    N      N                  0
3      F      30.0    Y      N                  0
4      F       2.0    Y      N                  0

In [42]:
# Determine the number of unique values in each column.
df.dtypes

Gender                object
Absences             float64
SPED                  object
Gifted                object
Achievement Level      int64
dtype: object

In [43]:
# Convert categorical data to numeric with `pd.get_dummies`
num_data = pd.get_dummies(df)
num_data.head()

,Absences,Achievement Level,Gender_F,Gender_M,SPED_N,SPED_Y,Gifted_N,Gifted_Y
0,13.0,0,0,1,0,1,1,0
1,32.0,0,0,1,0,1,1,0
2,4.0,0,1,0,1,0,1,0
3,30.0,0,1,0,0,1,1,0
4,2.0,0,1,0,0,1,1,0

In [44]:
# Split our preprocessed data into our features and target arrays
X = num_data.drop('Achievement Level', axis=1).values
y = num_data['Achievement Level'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [51]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="relu", input_dim=input))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 20)                160

 dense_15 (Dense)            (None, 20)                420

 dense_16 (Dense)            (None, 1)                 21

=================================================================
Total params: 601
Trainable params: 601
Non-trainable params: 0
_________________________________________________________________

In [52]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [53]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=20, verbose=1)

Epoch 1/20
6/6 [==============================] - 1s 5ms/step - loss: nan - accuracy: 0.7273
Epoch 2/20
6/6 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.0909
Epoch 3/20
6/6 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.0909
Epoch 4/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 5/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 6/20
6/6 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.0909
Epoch 7/20
6/6 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.0909
Epoch 8/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 9/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 10/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 11/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 12/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 13/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 14/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 15/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 16/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 17/20
6/6 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.0909
Epoch 18/20
6/6 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.0909
Epoch 19/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909
Epoch 20/20
6/6 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.0909

In [54]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:5 out of the last 9 calls to <function Model.make_test_function.<locals>.test_function at 0x7fce56b6a200> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

2/2 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.0159
Loss: nan, Accuracy: 0.01587301678955555