<a href="https://colab.research.google.com/github/gamountainmama/data_dames/blob/main/ga_soc_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the combined_data2122.csv
import pandas as pd 
df = pd.read_csv("https://gamountainmama.github.io/data_dames/combined_data2122.csv")
df.head()

,id,Gender,Ethnicity,ELL,SWD,ED,SST,Gifted,Absences,Lexile,...,MATH 21 Pass,MATH 22 Scale Score,MATH 22 Level,MATH 22 Pass,SCIE 22 Scale Score,SCIE 22 Level,SCIE 22 Pass,SOCI 22 Scale Score,SOCI 22 Level,SOCI 22 Pass
0,1,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,Y,N,2,1155,...,1,518,2,1,474,1,0,478,2,1
1,2,MALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,40,885,...,1,500,2,1,497,2,1,487,2,1
2,3,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,28,1205,...,1,488,2,1,502,2,1,478,2,1
3,4,MALE,"WHITE, NOT OF HISPANIC ORIGIN",N,Y,N,N,N,1,955,...,0,469,1,0,413,1,0,464,1,0
4,5,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,10,1305,...,1,482,2,1,475,2,1,473,1,0

In [2]:
# Drop the non-beneficial ID column 'id'
df = df.drop(columns='id', axis=1)

df.head()

,Gender,Ethnicity,ELL,SWD,ED,SST,Gifted,Absences,Lexile,ELA 21 Scale Score,...,MATH 21 Pass,MATH 22 Scale Score,MATH 22 Level,MATH 22 Pass,SCIE 22 Scale Score,SCIE 22 Level,SCIE 22 Pass,SOCI 22 Scale Score,SOCI 22 Level,SOCI 22 Pass
0,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,Y,N,2,1155,494,...,1,518,2,1,474,1,0,478,2,1
1,MALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,40,885,443,...,1,500,2,1,497,2,1,487,2,1
2,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,28,1205,507,...,1,488,2,1,502,2,1,478,2,1
3,MALE,"WHITE, NOT OF HISPANIC ORIGIN",N,Y,N,N,N,1,955,455,...,0,469,1,0,413,1,0,464,1,0
4,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,10,1305,525,...,1,482,2,1,475,2,1,473,1,0

In [3]:
# Determine the datatype of each column
df.dtypes

Gender                 object
Ethnicity              object
ELL                    object
SWD                    object
ED                     object
SST                    object
Gifted                 object
Absences                int64
Lexile                  int64
ELA 21 Scale Score      int64
ELA 21 Level            int64
ELA 21 Pass             int64
ELA 22 Scale Score      int64
ELA 22 Level            int64
ELA 22 Pass             int64
MATH 21 Scale Score     int64
MATH 21 Level           int64
MATH 21 Pass            int64
MATH 22 Scale Score     int64
MATH 22 Level           int64
MATH 22 Pass            int64
SCIE 22 Scale Score     int64
SCIE 22 Level           int64
SCIE 22 Pass            int64
SOCI 22 Scale Score     int64
SOCI 22 Level           int64
SOCI 22 Pass            int64
dtype: object

In [4]:
# create an ela dataframe
soc_df = df[['Gender','Ethnicity','ELL','SWD','ED','SST','Gifted','Absences','Lexile','SOCI 22 Pass']]
soc_df.head()

,Gender,Ethnicity,ELL,SWD,ED,SST,Gifted,Absences,Lexile,SOCI 22 Pass
0,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,Y,N,2,1155,1
1,MALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,40,885,1
2,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,28,1205,1
3,MALE,"WHITE, NOT OF HISPANIC ORIGIN",N,Y,N,N,N,1,955,0
4,FEMALE,"WHITE, NOT OF HISPANIC ORIGIN",N,N,Y,N,N,10,1305,0

In [5]:
# Convert categorical data to numeric with `pd.get_dummies`
soc_num_data = pd.get_dummies(soc_df)
soc_num_data.head()

,Absences,Lexile,SOCI 22 Pass,Gender_FEMALE,Gender_MALE,Ethnicity_AMERICAN INDIAN OR ALASKA NATIVE,Ethnicity_ASIAN,Ethnicity_HISPANIC,Ethnicity_Two Or More Races,"Ethnicity_WHITE, NOT OF HISPANIC ORIGIN",ELL_N,ELL_Y,SWD_N,SWD_Y,ED_N,ED_Y,SST_N,SST_Y,Gifted_N,Gifted_Y
0,2,1155,1,1,0,0,0,0,0,1,1,0,1,0,0,1,0,1,1,0
1,40,885,1,0,1,0,0,0,0,1,1,0,1,0,0,1,1,0,1,0
2,28,1205,1,1,0,0,0,0,0,1,1,0,1,0,0,1,1,0,1,0
3,1,955,0,0,1,0,0,0,0,1,1,0,0,1,1,0,1,0,1,0
4,10,1305,0,1,0,0,0,0,0,1,1,0,1,0,0,1,1,0,1,0

In [7]:
# Split our preprocessed data into our features and target arrays
X = soc_num_data.drop('SOCI 22 Pass', axis=1).values
y = soc_num_data['SOCI 22 Pass'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [9]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=input))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                200

 dense_1 (Dense)             (None, 1)                 11

=================================================================
Total params: 211
Trainable params: 211
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model
nn.compile(loss='mse', optimizer='adam', metrics=['accuracy'])

In [11]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
3/3 [==============================] - 1s 5ms/step - loss: 0.2626 - accuracy: 0.5333
Epoch 2/50
3/3 [==============================] - 0s 5ms/step - loss: 0.2582 - accuracy: 0.5333
Epoch 3/50
3/3 [==============================] - 0s 4ms/step - loss: 0.2544 - accuracy: 0.5333
Epoch 4/50
3/3 [==============================] - 0s 4ms/step - loss: 0.2504 - accuracy: 0.5333
Epoch 5/50
3/3 [==============================] - 0s 5ms/step - loss: 0.2465 - accuracy: 0.5667
Epoch 6/50
3/3 [==============================] - 0s 5ms/step - loss: 0.2427 - accuracy: 0.5667
Epoch 7/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2387 - accuracy: 0.6000
Epoch 8/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2351 - accuracy: 0.6111
Epoch 9/50
3/3 [==============================] - 0s 2ms/step - loss: 0.2313 - accuracy: 0.6111
Epoch 10/50
3/3 [==============================] - 0s 4ms/step - loss: 0.2276 - accuracy: 0.6444
Epoch 11/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2242 - accuracy: 0.6667
Epoch 12/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2207 - accuracy: 0.6778
Epoch 13/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2174 - accuracy: 0.6889
Epoch 14/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2138 - accuracy: 0.7444
Epoch 15/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2105 - accuracy: 0.7667
Epoch 16/50
3/3 [==============================] - 0s 5ms/step - loss: 0.2072 - accuracy: 0.7667
Epoch 17/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2041 - accuracy: 0.7667
Epoch 18/50
3/3 [==============================] - 0s 3ms/step - loss: 0.2009 - accuracy: 0.7667
Epoch 19/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1979 - accuracy: 0.7556
Epoch 20/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1948 - accuracy: 0.7778
Epoch 21/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1920 - accuracy: 0.7778
Epoch 22/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1890 - accuracy: 0.8000
Epoch 23/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1861 - accuracy: 0.8000
Epoch 24/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1836 - accuracy: 0.8000
Epoch 25/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1809 - accuracy: 0.8111
Epoch 26/50
3/3 [==============================] - 0s 4ms/step - loss: 0.1782 - accuracy: 0.8111
Epoch 27/50
3/3 [==============================] - 0s 4ms/step - loss: 0.1757 - accuracy: 0.8111
Epoch 28/50
3/3 [==============================] - 0s 4ms/step - loss: 0.1733 - accuracy: 0.8333
Epoch 29/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1708 - accuracy: 0.8333
Epoch 30/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1685 - accuracy: 0.8333
Epoch 31/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1661 - accuracy: 0.8333
Epoch 32/50
3/3 [==============================] - 0s 4ms/step - loss: 0.1640 - accuracy: 0.8333
Epoch 33/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1618 - accuracy: 0.8333
Epoch 34/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1596 - accuracy: 0.8333
Epoch 35/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1575 - accuracy: 0.8333
Epoch 36/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1554 - accuracy: 0.8333
Epoch 37/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1534 - accuracy: 0.8333
Epoch 38/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1514 - accuracy: 0.8333
Epoch 39/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1494 - accuracy: 0.8333
Epoch 40/50
3/3 [==============================] - 0s 4ms/step - loss: 0.1475 - accuracy: 0.8333
Epoch 41/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1457 - accuracy: 0.8333
Epoch 42/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1438 - accuracy: 0.8333
Epoch 43/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1422 - accuracy: 0.8444
Epoch 44/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1404 - accuracy: 0.8556
Epoch 45/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1388 - accuracy: 0.8556
Epoch 46/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1372 - accuracy: 0.8556
Epoch 47/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1357 - accuracy: 0.8667
Epoch 48/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1340 - accuracy: 0.8778
Epoch 49/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1327 - accuracy: 0.8667
Epoch 50/50
3/3 [==============================] - 0s 3ms/step - loss: 0.1313 - accuracy: 0.8778

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1/1 [==============================] - 0s 122ms/step - loss: 0.1208 - accuracy: 0.8667
Loss: 0.12084542214870453, Accuracy: 0.8666666746139526